<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}

    <!-- main-page-content -->
    <div  class="container-fluid main_header">
        <div  class="row">
            <div  class="col-md-10 mx-auto">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">

                        <figure>
                            <img src="./images/me.jpg" alt="wajahat" class="img-fluid" title="Muhammad Wajahat">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app</p>
                        <h1>I am a <span  class="text_clr">Backend</span> Developer.</h1>
                        <a href="https://www.linkedin.com/in/wajahat-zafar/" target="_blank"><button>About me</button></a>


                    </div>

                    <!-- right side -->
                    

                </div>

            </div>
        </div>
    </div>
    
    {{>footer}}

    
</body>
</html>