<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    
    {{>navbar}}
    <!-- main-page-content -->
    <div  class="container-fluid main_header">
        <div  class="row">
            <div  class="col-md-10 mx-auto">
                <div class="main-content">
                    <form class="temp-form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">


                    </form>
                </div>
                <div class="tempInformation">
                    <div class="topLayer">
                        <p id="day">Tuesday</p>
                        <p id="todayDate">xyz</p>
                    </div>
                    <div class="mainLayer">
                        <p id="city-Name">Get Output Here</p>
                        <div class="middleLayer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                            <p id="tempStatus"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                        </div>
                    </div>
                </div>
                    

                </div>

            </div>
        </div>
    </div>
    {{>footer}}
    <script src="/js/main.js" ></script>

    <script>
        
        const getDayDetails = () =>{
            const weekday = ['Sun','Mon', 'Tues', 'Wed', 'Thurs','Fri',
            'Sat'];
            
            const d = new Date();
            const day  = d.getDay();
            const dayName = weekday[day]
            
            document.getElementById('day').innerText = `${dayName}`

        }

        getDayDetails();
        
    </script>

    <script>

        const getDateDetails = () =>{
            const months = ["Jan","Feb","March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"];
            const d = new Date();
            const date = d.getDate();
            const getMonth = d.getMonth();
            const monthName = months[getMonth];
            document.getElementById('todayDate').innerText = `${monthName} , ${date }`;
        }

        getDateDetails();
    </script>

    
</body>

</html>